---
layout: default
---

<div class="post">
    <a class="post__back back" href="/blog">&lt;-Back</a>
    <h1 class="post__title">{{ page.title }}</h1>
    <p class="post__date">{{ page.date | date:  "%Y-%m-%d" }}</p>
    <p class="post__meta">{{ tags_content }}</p>
    <div class="post__content"?>
        {{ content }}
    </div>
</div>

{% if page.duoshuo_thread_id %}
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ page.duoshuo_thread_id }}" data-title="{{ page.title }}" data-url="https://t-y.me{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"t-y"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->

{% endif  %}
